
.footer1 {
    /*top: 825px;*/
    /*left: 0px;*/
    width: 73em;
    height: 200px;
    background: #062639 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    /*opacity: 1;*/
    /*display: block;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
}

.footer_text1 {
    top: 921px;
    left: 184px;
    width: 11em;
    height: 2em;
    text-align: left;
    font: Bold 25px/30px Bebas Neue;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    display: inline-block;
    margin: 2.5em 0.5em 1em 4em;
}

.footer_text2 {
    top: 927px;
    left: 561px;
    width: 38em;
    height: 2em;
    text-align: left;
    /*!*font: Regular 16px/24px Raleway;*! почему ошибка*/
    font: bold 8px/14px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    margin: 4em 0em 0em 3em;
}

.footer_text3 {
    /*padding-top: 30px;*/
    /*top: 908px;*/
    /*left: 1365px;*/
    width: 9em;
    height: 0em;
    text-align: left;
    font: Bold 22px/24px Raleway;
    /*letter-spacing: 0;*/
    color: #EA2340;
    opacity: 1;
    display: inline-block;
    margin: 1.5em 0em 0em 4em;
}

.footer_button{
    top: 492px;
    left: 199px;
    width: 9em;
    height: 2.8em;
    background: #EA2340;
    box-shadow: #00000052;
    opacity: 1;
    border: none;
    text-align: center;
    font: Bold 10px/28px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    display: inline-block;
    margin: 0em 0em 0em 0em;
}

.footer_redline {
    /*background-image: url(images/redline.svg);*/

    padding-top: 0.6em;
    height: 0em;
    width: 1060px;
    border-bottom: 0.9em solid #EA2340;
    border-left: 0;
    border-right: 35px solid transparent;
}

.footer_block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Далее работаю с FOOTER 2-й страницы*/
/*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*/
/*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*/
/*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*//*Далее работаю с FOOTER 2-й страницы*/
/*Далее работаю с FOOTER 2-й страницы*/



.footer2_beginning {
    height: 65px;
    width: 73em;
    /*margin: 0em 0em 0em 0em;*/
    /*padding: 0em 0em 0em 0em;*/
}

.footer2_flex {
    width: 73em;
    display: flex;
}

.footer2_text1 {
    /*top: 2843px;*/
    /*left: 160px;*/
    width: 66em;
    /*height: 61px;*/
    text-align: left;
    /*font: Regular 16px/24px Raleway;    почему ошибка*/
    font: Bold 7px/14px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    display: inline-block;
    margin: 0em 0em 0em 12em;
}

.logo {
    padding: 2em 2em 2em 2em;
    display: inline-block;
}

.footer2_redline {
    /*margin: -3.75em 0em 7em 0em;*/
    height: 135px;
    width: 44em;
    border-bottom: 8.2em solid #EA2340;
    border-left: 0;
    border-right: 17em solid transparent;
    display: inline-block;
}

.navigationText {
    /*top: 33px;*/
    /*left: 1432px;*/
    width: 7em;
    height: 19px;
    text-align: right;
    font: Bold 12px/19px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    /*right: 0;*/
    display: inline;
    margin-left: 2em;
    

}


.NavigationTextBlockFooter2 {
    /*margin-left: 33em;*/
    text-align: right;
    width: 25em;

    /*margin: -1em 2.7em 0em 0em;*/

    /*font: Bold 19px/12px Raleway;*/
    display: inline-block;
}

.socialNets {
    display: inline-block;
    /*top: 2854px;*/
    /*left: 1496px;*/
    width: 40px;
    height: 20px;
    text-align: right;
    font: Bold 30px/20px Font Awesome;
    letter-spacing: 2.58px;
    color: #FFFFFF;
    opacity: 1;
    margin-right: 0em;


}

.End {
    display: inline-block;
    /*top: 2854px;*/
    /*left: 1231px;*/
    /*width: 26px;*/
    /*height: 29px;*/
    /*text-align: left;*/
    /*font: Bold 18px/20px Font Awesome;*/
    font: Bold 22px/20px Font Awesome;
    /*letter-spacing: 2.58px;*/
    color: #FFFFFF;
    opacity: 1;
    /*margin-left: 19em;*/
    /*margin: 0em 0em 0em 19em;*/
    transform: rotate3d(0, 0, 0, 22grad);
}

.socialNetsPic {
    display: inline-block;
    top: 2854px;
    left: 1496px;
    width: 10px;
    height: 10px;
    /*margin-left: 27em;*/
    /*margin-top: -5em;*/
}

.socialNetBlock {
    display: inline-block;
    margin: 0em 0em 0em 8em;
}

.footer2_redtext {
background-color: gold;
}




.three_elem {
    width: 20em;
}

.wrapper_all_cities {
    display: flex;
    margin-top: 0.5em
;
}

.footer2_cities {
    text-align: left;
    width: 10em;
    font: Bold 8px/0px Raleway;
    color: rgba(143, 166, 170, 0.8);
    display: inline;
}

.footer2_cities1 {
    text-align: left;
    width: 10em;
    font: Bold 8px/0px Raleway;
    color: darkgrey;

}

.footer2_cities2 {
    text-align: left;
    width: 10em;
    font: Bold 8px/0px Raleway;
    color: darkgrey;

}

.hidden{
    display: none;
    visibility: hidden;
}