Link {
    text-decoration: none;
}
Link:hover{
    text-decoration: none;
}

.HeaderBox {
    height: 80px;
    background: #062639 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding-top: 1.5em;
    padding-left: 1.5em;
}

.Logo{
    margin-left: 4em;
    cursor:pointer;
}

.NavigationTextBlock{
    display: inline;
    margin-right: 4em;
    float: right;
}

.navBox {
    height: 65px;
    display: inline-block;
    margin-right: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.navBox:hover {
    background-color: red;
}

.navigationText {
    top: 33px;
    height: 19px;
    text-align: left;
    font: Bold 16px/19px Raleway;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

/* Изменение цвета ссылок при наведении курсора */

/* Добавить цвет для активной/текущей ссылки */
.navigationText.active {
    background-color: grey;
    color: white;
}

.redText {
    width: 287px;
    height: 37px;
    font: Bold 32px/59px Raleway;
    color: #EA2340;
    margin-left: 30px;
    margin-bottom: 10px;
}

.greyText {
    width: 207px;
    height: 17px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    color: #06263998;
    margin-left: 30px;
}

.formWrapper{
    background: transparent 0% 0% no-repeat padding-box;
    /*background-size: cover;*/
    height: 766px;
    background-size: auto;
}


.searchContainer{
    margin-top: 50px;
    margin-bottom: 10px;
    width: 509px;
    height: 500px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000005F;

}
.inputShape{
    width: 280px;
    height: 37px;
    border: 1px solid #06263998;
    margin-left: 2em;
    margin-bottom: 10px;

}

.yallaBtn{
    width: 188px;
    height: 48px;
    background: #EA2340 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000052;
    margin-left: 100px;
    margin-top:50px;
    border: none;
    text-align: center;
    font: Bold 18px/49px Raleway;
    color: #FFFFFF;
}

.redLine{
    width: 67px;
    height: 10px;
    background: #EA2340 0% 0% no-repeat padding-box;
    margin-right: 30px;
    margin-top: 85px;
    margin-bottom: 25px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
.redNumber{
    font: Bold 70px/70px Bebas Neue;
    color: #EA2340;
    margin-right: 30px;
    margin-left: 80px;
}

.blueBigText{
    width: 13em;
    text-align: left;
    font: Bold 34px/34px Bebas Neue;
    color: #062639;
    text-transform: capitalize;
    margin-right: 2em;
    margin-top: 2em;

}

.smallBlueText{
    font: Bold 12px/18px Raleway;
    color: #062639;
    /*margin-left: ;*/
}


.inlineBlock{
margin-left: -24em;


}
.vehicle1{
    margin-left: -15em;
}
.vehicle3{
    margin-right: -14em;
    /*clip-path: polygon(0 0%, 100% 0, 100% 100%,  35% 100%);*/
}



.section2Wrapper{
    height: auto;
    margin-top:4em;
}
.redBackGround{
    height: 31em;
    background: #EA2340;
    clip-path: polygon(95% 0, 100% 15%, 100% 100%, 5% 100%, 0 80%, 0 0);
    padding-top: 15px;
}
.blueBackGround{
    margin-bottom: 2em;
    background: #062639 0% 0% no-repeat padding-box;
    height: 34em;
    /*overflow:hidden*/

}
.imageSizing{
    height: 20em;
    width: 52em;
    /*height: 100%;*/
    /*width: 100%;*/
}

.vehicleName{
    width: 110px;
    height: 32px;
    text-align: left;
    font: Bold 32px/38px Bebas Neue;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 16px;
    margin-left: 10.5em;
}


.userPics{
    border-radius: 100px; /* Радиус скругления */
    border: none; /* Параметры рамки */
    width: 89px;
    height: 89px;
    background: transparent 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-right: 2em;

}

.redSmallText{
    width: 97px;
    height: 19px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    color: #EA2340;
}

.blackSmalltext {
    width: 115px;
    height: 15px;
    text-align: left;
    font: Bold 13px/24px Raleway;
    letter-spacing: 0;
    color: #06263998;
}
.section2Wrapper {
    display: flex;
    align-items: center;
    margin-left: 10em;
    width: 120em;

}
.firstColumn{
    flex: 50%;
}
.secondColumn{
    flex: 50%;
}



.nameDateWrapper {
    padding-left: 18%;
    margin-bottom: 3em;
}
.marginTop{
    margin-top: 20px;
}
.marginTop2{
    margin-top: 35px;
}

.marginLeft {
    margin-left: 5em;
}

.marginLeft2{
    margin-left: 30px;
}

.whitePriceBox {
    width: 13em;
    height: 91px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000052;
    margin-left:21em;
    display: inline-block;

}

.blackPriceBox {
    display: inline-block;
    width: 10em;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000052;
    margin-left: 280px;
    margin-top: -180px;
    text-align: center;
}

.searchWithoutReg{
    margin-top:50px;
}

.dollarBox {
    display: inline-block;
    margin-left: -2.5em;
    margin-top: -2.5em;
}
.priceBox {
    display: inline-block;
}
.perDayBox {
    display: inline-block;
}

.dollarSign {
    font: Bold 31px/102px Raleway;
    color: #EA2340;
    display: inline-block;
    margin-bottom: 1.5em;
}
.dollarSignBlack{
    display: inline-block;
    font: Bold 31px/102px Raleway;
    color: #062639;
    margin-bottom: 1.5em;
}

.price {
    width: 104px;
    height: 88px;
    text-align: center;
    font: Bold 88px/106px Bebas Neue;
    letter-spacing: 0;
    color: #EA2340;
    text-transform: capitalize;
    display: inline-block;
}

.priceBlack{
    display: inline-block;
    width: 70px;
    height: 59px;
    text-align: center;
    font: Bold 59px/71px Bebas Neue;
    color: #062639;
    margin-top: 20px;
}


.perDay {
    margin-left: 50px;
    display: inline-block;
    width: 24px;
    height: 60px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    text-align: center;
    font: Bold 24px/29px Bebas Neue;
    /*24/29*/
    letter-spacing: 0;
    color: #06263998;
    text-transform: capitalize;
}

.perDaySmall{
    width: 16px;
    height: 40px;
    transform: matrix(0, -1, 1, 0, 0, 0);
   margin-left: 35px;
    font: Bold 16px/19px Bebas Neue;
    color: #06263998;
    display: inline-block;
}

.flexContainerForm {
    display: flex;
}

.loginContainer {
    width: 529px;
    height: 766px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000005F;
 }

.loginInputContainer{
    width: 427px;
    height: 279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.recoverySentMessage{
    width: 204px;
    height: 45px;
    text-align: center;
    font:  18px/24px Raleway;
    letter-spacing: 0;
    color: #062639;
}

.formWrapperLeft{
    width: 120em;
    height: 766px;
    background: transparent 0 0 no-repeat padding-box;
    margin-left: -40em;
}

.recoverySentMessageContainer {
    margin-left: 12em;
    visibility: hidden;
}

.recoveryLink{
    margin-top: 14em;
    margin-bottom: 6em;
    margin-left: 12em;
}

.sortByWrapper {
    display: flex;
    margin-top: 2em;
}


.sortBigWrapper{
    margin-left: 30px;
    margin-top: 3em;
    margin-bottom:5em;
}
.vehicleBlueName{
    height: 22px;
    text-align: left;
    font: Bold 22px/28px Bebas Neue;
    color: #062639;
}

.hidden{
    display: none;
    visibility: hidden;
}
.registrationPhotoContainer{
    width: 450px;
    height: 282px;
}

.searchWithoutRegContainer{
    box-shadow: 0px 3px 6px #0000005F;
}

.vehicleCardsContainer{
    margin-top: 50px;
}

 .highToLow:hover{
   background: #6C7E8B;
    color: #FFFFFF;

 }

 .lowToHigh:hover{
     background: #6C7E8B;
     color: #FFFFFF;}

.lowToHigh, .highToLow{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    top: 529px;
    left: 205px;
    width: 151px;
    height: 23px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    background: #FFFFFF;
    margin-right: 2px;
    color: #06263998;
    border: 1px solid #6C7E8B;
    padding: 2px;
}

.highToLow{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    margin-left: -22px;
    text-align: right;
}

.firstVehicleRow{
    margin-bottom: 50px;
}

.blue{
    background: blue;

}

.green{
     background: green;

}

.tabDiv{
    height: 7px;
    background: #EA2340 0% 0% no-repeat padding-box;
    width:19.7em;
}

.filtersTab{
    text-align: center;
    width: 73px;
    height: 38px;
    background: #062639 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF;
    display: inline-block;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    color: #FFFFFF;
}

.mapTab{
    width: 73px;
    height: 38px;
    background: #6C7E8B 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    display: inline-block;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    text-align: center;
    margin-left: -15px;
}

.searchTab{
    width: 120px;
    height: 48px;
    background: #EA2340 0% 0% no-repeat padding-box;
    display: inline-block;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    color: #FFFFFF;
    margin-right: -15px;
    text-align: center;
    padding-top: 12px;
}

.tabContainer{
    display:inline-block;
    width:20em;
}

.singleVehicleMargin{
    margin-left: 10em;
    margin-bottom: 4em;
}

.vehicleYear {
    display: inline-block;
    width: 30px;
    text-align: center;
    font: Bold 19px/31px Bebas Neue;
    color: #062639;
}

.letYourCarWork{
    height: 170px;
}

.greyTextBox {
    width: 507px;
    height: 19px;
    text-align: left;
    font: Bold 13px/22px Raleway;
    color: #06263998;
    margin-left: 30px;
    margin-top: 40px;
}