
.HeaderBox {
    height: 80px;
    background: #062639 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding-top: 1.5em;
    padding-left: 1.5em;
}

.Logo{
    margin-left: 4em;
}

.NavigationTextBlock{
    display: inline;
    margin-right: 4em;
    float: right;
}



.navigationText {
    top: 33px;
    left: 1432px;
    width: 120px;
    height: 19px;
    text-align: left;
    font: Bold 16px/19px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
    right: 0;
    display: inline-block;
    margin-left: 2em;
}
/* Изменение цвета ссылок при наведении курсора */
.navigationText:hover {
    background-color: red;

}

/* Добавить цвет для активной/текущей ссылки */
.navigationText.active {
    background-color: grey;
    color: white;
}

.redText {
    top: 235px;
    width: 287px;
    height: 37px;
    font: Bold 32px/59px Raleway;
    letter-spacing: 0;
    color: #EA2340;
    margin-left: 6.25em;
    margin-bottom: 2px;
}

.greyText {
    top: 267px;
    left: 199px;
    width: 207px;
    height: 19px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    color: #06263998;
    margin-left: 12.5em;
    margin-top: 0px;
}
.formWrapper{
    top: 59px;
    left: 0px;
    width: 120em;
    height: 48em;
    background: transparent 0% 0% no-repeat padding-box;
    display: flex;
}


.searchContainer{
    margin-top: 143.1px;
    top: 202px;
    left: 0.40771484375px;
    width: 609px;
    height: 379px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000005F;
}
.inputShape{
    top: 311px;
    left: 199px;
    width: 371px;
    height: 47px;
    border: 1px solid #5F727E;
    margin-left: 12.5em;
    margin-bottom: 20px;
    margin-top: 5px;
}

.yallaBtn{
    top: 492px;
    left: 199px;
    width: 188px;
    height: 48px;
    background: #EA2340 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000052;
    margin-left: 200px;
    border: none;
    text-align: center;
    font: Bold 18px/49px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
}

.redLine{
    top: 567px;
    left: 539px;
    width: 67px;
    height: 10px;
    background: #EA2340 0% 0% no-repeat padding-box;
    margin-left: 535px;
    margin-top: 25px;
    margin-bottom: 25px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
.redNumber{
    font: Bold 100px/100px Bebas Neue;
    letter-spacing: 0;
    color: #EA2340;
    margin-right: 40px;
    margin-bottom: 0;
    margin-left: 40px;
}

.blueBigText{
    width: 13em;
    text-align: left;
    font: Bold 44px/44px Bebas Neue;
    letter-spacing: 0;
    color: #062639;
    text-transform: capitalize;
    margin-right: 2em;
    margin-top: 2em;

}

.smallBlueText{
    width: 641px;
    text-align: left;
    font: Bold 12px/20px Raleway;
    letter-spacing: 0;
    color: #062639;
    /*margin-left: ;*/
}


.inlineBlock{
    display: inline-block;
    width: 37em;
    text-align: center;
}
.vehicle1{
    margin-left: -14em;
}
.vehicle3{
    margin-right: -14em;
    /*clip-path: polygon(0 0%, 100% 0, 100% 100%,  35% 100%);*/
}



.section2Wrapper{
    height: auto;
    margin-top:4em;
}
.redBackGround{
    height: 29em;
    background: #EA2340;
    display: flex;
    clip-path: polygon(95% 0, 100% 24%, 100% 100%, 5% 100%, 0 80%, 0 0);
}
.blueBackGround{
    margin-bottom: 2em;
    background: #062639 0% 0% no-repeat padding-box;
    height: 32em;
    width: 120em;
    overflow:hidden

}
.imageSizing{
    height: 25em;
    width: 65em;
}

.vehicleName{
    width: 110px;
    height: 32px;
    text-align: left;
    font: Bold 32px/38px Bebas Neue;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 16px;
    margin-left: 10.5em;
}


.userPics{
    border-radius: 100px; /* Радиус скругления */
    border: none; /* Параметры рамки */
    width: 89px;
    height: 89px;
    background: transparent 0% 0% no-repeat padding-box;
    display: inline-block;
    margin-right: 2em;

}

.redSmallText{
    width: 97px;
    height: 19px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    color: #EA2340;
}

.blackSmalltext {
    width: 115px;
    height: 15px;
    text-align: left;
    font: Bold 13px/24px Raleway;
    letter-spacing: 0;
    color: #06263998;
}
.section2Wrapper {
    display: flex;
    align-items: center;
    margin-left: 10em;
    width: 120em;

}
.firstColumn{
    flex: 50%;
}
.secondColumn{
    flex: 50%;
}



.nameDateWrapper {
    padding-left: 7.5em;
    margin-bottom: 3em;
}
.marginTop{
    margin-top: 20px;
}
.marginLeft {
    margin-left: 5em;
}
.displayInline{
    display: inline-block;
}

.whitePriceBox {
    width: 15em;
    height: 91px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000052;
    margin-left:25em;
    padding: 0em;

}
.dollarBox {
    display: inline-block;
    margin-left: -2.5em;
   margin-top: -2.5em;
}
.priceBox {
    display: inline-block;
}
.perDayBox {
    display: inline-block;
}

.dollarSign {
    /*width: 18px;*/
    /*height: 34px;*/
    /*text-align: center;*/
    font: Bold 31px/102px Raleway;
    letter-spacing: 0;
    color: #EA2340;
    display: inline-block;
    margin-bottom: 1.5em;
}

.price {
    width: 104px;
    height: 88px;
    text-align: center;
    font: Bold 88px/106px Bebas Neue;
    letter-spacing: 0;
    color: #EA2340;
    text-transform: capitalize;
    display: inline-block;

}

.perDay {
    margin-left: 50px;
    display: inline-block;
    width: 24px;
    height: 60px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    text-align: center;
    font: Bold 24px/29px Bebas Neue;
    /*24/29*/
    letter-spacing: 0;
    color: #06263998;
    text-transform: capitalize;
}

.flexContainerForm {
    display: flex;
}

.loginContainer {
    width: 629px;
    height: 766px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000005F;
    display: inline-block;


}

.loginInputContainer{
    width: 427px;
    height: 279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.recoverySentMessage{
    width: 204px;
    height: 45px;
    text-align: center;
    font:  18px/24px Raleway;
    letter-spacing: 0;
    color: #062639;
}

.formWrapperLeft{
    /*top: 59px;*/
    /*left: -629px;*/

    width: 120em;
    height: 766px;
    background: transparent 0 0 no-repeat padding-box;
    display: inline-block;
    margin-left: -40em;
}

.recoverySentMessageContainer {
    margin-left: 12em;
    visibility: hidden;
}

.recoveryLink{
    margin-top: 14em;
    margin-bottom: 6em;
    margin-left: 12em;
}



.sortByWrapper {
    display: flex;

}


.sortBigWrapper{
    margin-left: 12.5em;
    margin-top: 5em;
    margin-bottom: 5em;
}
.vehicleBlueName{
    top: 482px;
    left: 1231px;
    width: 148px;
    height: 32px;
    text-align: left;
    font: Bold 32px/38px Bebas Neue;
    letter-spacing: 0;
    color: #062639;
    text-transform: capitalize;
}

.hidden{
    display: none;
    visibility: hidden;
}

/*Registration without container*/
.registrationPhotoContainer{
    width: 506px;
    height: 338px;
}

.searchWithoutRegContainer{
    margin-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000005F;
}

.lowToHigh{
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    top: 529px;
    left: 205px;
    width: 131px;
    height: 19px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    background: #6C7E8B;
    margin-right: 2px;
}
.highToLow{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    width: 131px;
    height: 19px;
    text-align: left;
    font: Bold 16px/24px Raleway;
    letter-spacing: 0;
    border: 1px solid #6C7E8B;
}

.blue{
    background: blue;

}

.green{
     background: green;

}